backEnd/HELP.md
backEnd/target/
backEnd/.mvn/wrapper/maven-wrapper.jar
backEnd/!**/src/main/**/target/
backEnd/!**/src/test/**/target/
backEnd/.apt_generated
backEnd/.classpath
backEnd/.factorypath
backEnd/.project
backEnd/.settings
backEnd/.springBeans
backEnd/.sts4-cache
backEnd/.idea
backEnd/*.iws
backEnd/*.iml
backEnd/*.ipr
backEnd//nbproject/private/
backEnd//nbbuild/
backEnd//dist/
backEnd//nbdist/
backEnd//.nb-gradle/
backEnd/build/
backEnd/!**/src/main/**/build/
backEnd/!**/src/test/**/build/
backEnd/.vscode/



frontEnd/logs
frontEnd/*.log
frontEnd/npm-debug.log*
frontEnd/yarn-debug.log*
frontEnd/yarn-error.log*
frontEnd/pnpm-debug.log*
frontEnd/lerna-debug.log*

# frontEnd/node_modules
frontEnd/dist
frontEnd/dist-ssr
frontEnd/*.local

# Editor directories and files
frontEnd/.vscode/*
frontEnd/!.vscode/extensions.json
frontEnd/.idea
frontEnd/.DS_Store
frontEnd/*.suo
frontEnd/*.ntvs*
frontEnd/*.njsproj
frontEnd/*.sln
frontEnd/*.sw?